
 * {
    padding: 0;
    margin: 0;
 }

body {
    text-align: center;
    height: 100vh;
    background: #f33;
}

h1{
    text-align: center;
}

.picControl {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.control-btns {
    margin:30px;
    border: 1px solid red;
    font-weight: bold;
}

input {
    vertical-align: middle;
}

.targetPic {
    display: inline-block;
    border-width: 10px;
    border-style: solid;
    font-size: 0;
}

.targetPic img{
    width: 600px;
}